@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,600;1,400;1,600&display=swap");
@import url("https://fonts.cdnfonts.com/css/brandon-grotesque-black");
html,
body,
* {
  font-family: "Roboto", sans-serif;
}
body {
  background-image: url("/bg.png");
  background-position: center top;
  background-size: 100% auto;
  overflow-y: overlay;
}

.header {
  background-image: url("/header.png");
  background-position: center top;
  background-size: 100% auto;
}

.logo_font {
  font-family: "Brandon Grotesque Black", sans-serif;
}
.swiper {
  width: 100%;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  display: flex !important;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
}
.hero {
  transform-origin: 50% 50%;
  transform: rotate(-45deg);
}
.hero * {
  transform-box: fill-box;
  width: 100%;
  height: 100%;
}
.hero path {
  transition: all 200ms ease-in-out;
  transform-origin: 50% 50%;
}
.hero path:hover {
  fill: white;
}

.link {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.15em;
  display: inline-block;
  position: relative;
  width: 120px !important;
  padding-bottom: 10px;
}
.link:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.link:hover:after {
  width: 120px;
  left: 0;
}
